/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
    #  Baseline Normalize
    #  Layout
    #  Header
        ##  Logo
        ##  Header right
        ##  Main Navigation & Primary Menu
    #  Content
    #  Widgets
    #  Footer
        ##  Mobile Menu
        ##  Backtop
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#  Baseline Normalize
--------------------------------------------------------------*/
@font-face {
  font-family: 'UTMDavida';
  src: url('UTMDavida.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMDavida.woff') format('woff'), url('../fonts/UTMDavida.ttf')  format('truetype'), url('../fonts/UTMDavida.svg#UTMDavida') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTMAtlasBold';
  src: url('UTMAtlasBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/UTMAtlasBold.woff') format('woff'), url('../fonts/UTMAtlasBold.ttf')  format('truetype'), url('../fonts/UTMAtlasBold.svg#UTMAtlasBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    color: #1f1f1f;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}

@media (max-width: 413px) {
    body {
        font-size: 12px;
    }
}

a {
    color: #1f1f1f;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/*--------------------------------------------------------------
#  Layout
--------------------------------------------------------------*/
.site.boxed {
    margin: 0 auto;
    background: transparent;
}

.site.boxed.w1000 {
	max-width: 1000px;
}

.site.boxed.w1170 {
	max-width: 1170px;
}

.site.boxed.w1200 {
	max-width: 1200px;
}

@media (min-width: 1200px) {
	.container {
	    width: 1170px;
	}

	.site.w1000 .container {
	    width: 1000px;
	}

	.site.w1170 .container {
	    width: 1170px;
	}

	.site.w1200 .container {
	    width: 1200px;
	}
}

#layout {
    padding-top: 10px;
    background: white;
}

@media (min-width: 992px) {
    .content-area {
        width: 75%;
        float: left;
    }

    .widget-area {
        width: 25%;
        float: left;
    }

    .sidebar-both .content-area {
        width: 60%;
    }

    .sidebar-both .widget-area {
        width: 20%;
    }

    .sidebar-left .content-area {
        left: 25%;
        padding-left: 0;
    }

    .sidebar-left .widget-area {
        right: 75%;
    }

    .sidebar-both .content-area {
        left: 20%;
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar-both #secondary-1.widget-area {
        right: 60%;
    }

    .sidebar-right .content-area {
        padding-right: 0;
    }
}

.sidebar-none .widget-area {
    display: none;
}

.no-sidebar .content-area {
    width: 100%;
}

.content-area, .widget-area {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    /*padding-bottom: 20px;*/
    word-wrap: break-word;
}

@media (min-width: 1200px) {
    .content-area {
        padding: 0 !important;
    }
}

/*--------------------------------------------------------------
#  Header
--------------------------------------------------------------*/
.site-header {
    background: white;
}

@media ( min-width: 783px ) {
    .admin-bar .fixed-nav-menu .main-navigation {
        margin-top: 32px;
    }
}

@media ( min-width: 601px ) and ( max-width: 782px ) {
    .admin-bar .fixed-nav-menu .main-navigation {
        margin-top: 46px;
    }
}

.fixed-nav-menu .main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fixed-nav-menu .animated {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  will-change: transform,opacity;
}

.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}

@-webkit-keyframes slideDown{
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDown{
  0% {
    -moz-transform: translateY(-100%);
  }
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideDown{
  0% {
    -o-transform: translateY(-100%);
  }
  100% {
    -o-transform: translateY(0);
    }
}

@keyframes slideDown{
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-100%);
  }
}

@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(-100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
    10%,
    20% {
        -webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
        transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
    }
    30%,50%,70%,90% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
        transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
    }
    40%,60%,80% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
        transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
    }
    100% {
        -webkit-transform:scale3d(1,1,1);
        transform:scale3d(1,1,1)
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
    10%,20% {
        -webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
        transform:scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
    }
    30%,50%,70%,90% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
        transform:scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
    }
    40%,60%,80% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
    }
    100% {
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1)
    }
}

@keyframes jump {
 from, 20%, 53%, 80%, to {
   -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
   -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
 }

 40%, 43% {
   -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   -webkit-transform: translate3d(0, -8px, 0);
   transform: translate3d(0, -8px, 0);
 }

 70% {
   -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
   -webkit-transform: translate3d(0, -5px, 0);
   transform: translate3d(0, -5px, 0);
 }

 90% {
   -webkit-transform: translate3d(0,-2px,0);
   transform: translate3d(0,-2px,0);
 }
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.jump {
    -webkit-animation: jump .8s ease infinite;
    animation: jump .8s ease infinite;
}

.tada {
    -webkit-animation: tada 2s ease infinite;
    animation: tada 2s ease infinite;
}

/*--------------------------------------------------------------
##  Logo
--------------------------------------------------------------*/
.custom-logo-link {
    display: block;
    text-align: center;
}

/*--------------------------------------------------------------
##  Header Right
--------------------------------------------------------------*/


/*--------------------------------------------------------------
##  Header Search
--------------------------------------------------------------*/
.header-search .search-form {
    position: relative;
    height: 44px;
}

.header-search .search-form .search-field {
    width: 100%;
    border: none;
    padding: 5px 10px;
    position: absolute;
    border-radius: 30px;
    outline: none;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 2.5s ease-in-out;
    transition: all .25s ease-in-out;
}

.header-search .search-form .search-submit {
    border: 0;
    background: transparent;
    color: #292929;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 0 30px 30px 0;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media ( min-width: 1200px ) {
    .has-vertical-mega-menu .header-search.col-lg-1 .search-form .search-field:focus {
        width: 250px;
    }
}

/*--------------------------------------------------------------
##  Main Navigation & Primary Menu
--------------------------------------------------------------*/
@media (min-width: 1200px) {
    .site.boxed .main-navigation .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.main-navigation {
    background: #292929;
}

#primary-menu {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#primary-menu li {
    position: relative;
}

#primary-menu > li {
    float: left;
}

#primary-menu > li:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.16);
}

#primary-menu li a {
    color: #fff;
    font-size: 15px;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px rgba(80, 80, 80, 0.37);
    transition: all .25s ease-in-out;
}

#primary-menu li a:hover,
#primary-menu li.current-menu-item a {
    color: #fffd79;
}

#primary-menu li ul.sub-menu {
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    background: #484848;
    width: 250px;
    position: absolute;
    left: 250px;
    top: 0;
    padding-left: 0;
    list-style: none;
    z-index: 9999;
    box-shadow: 0 0 3px #8c8c8c;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#primary-menu li ul.sub-menu li {
  border-bottom: 1px solid #565656;
}

#primary-menu > li > ul.sub-menu {
    left: 0;
    top: auto;
}

#primary-menu li:hover > ul.sub-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.rt-navbar-toggle {
    background: #fff;
    padding: 0;
    margin: 14px 0;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
}

.rt-navbar-toggle .icon-bar {
    background: black;
    display: block;
    position: relative;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    outline: none;
}

.rt-navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.btn-fixed-mobile-menu .rt-navbar-toggle {
    background: #000;
    padding: 5px;
    margin: 14px 0;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    top: 50%;
    right: 12px;
    z-index: 9999;
}

@media (max-width: 1199px) {
    .rt-navbar-toggle {
    	background: transparent;
    }

    .btn-fixed-mobile-menu .rt-navbar-toggle {
        background: #000;
    }

    .rt-navbar-toggle .icon-bar {
    	background: white;
    }
}

/*--------------------------------------------------------------
#  Vertical Mega Menu
--------------------------------------------------------------*/
.vertical-mega-menu {
    position: relative;
}

.vertical-mega-menu .vertical-mega-menu-title {
    margin-bottom: 0;
    background: #006f94;
    border-radius: 0;
    text-align: left;
    padding: 9.5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.vertical-mega-menu .vertical-mega-menu-title:after {
    content: "\f039";
    float: right;
    font-family: fontawesome;
    font-weight: 100;
}

.vertical-mega-menu .rt_mega_menu .menu {
    position: absolute;
    z-index: 9999;
    background: white;
    width: calc(100% - 30px);
    border: 1px solid #ccc;
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.home .site:not(.fixed-nav-menu) .vertical-mega-menu .rt_mega_menu .menu,
.vertical-mega-menu .rt_mega_menu:hover .menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.vertical-mega-menu .rt_mega_menu .menu ul.sub-menu {
    margin-bottom: 0;
    padding-left: 0;
}

.vertical-mega-menu .rt_mega_menu .menu li {
    list-style: none;
}

.vertical-mega-menu .rt_mega_menu .menu > li {
    border-bottom: 1px solid #eee;
}

.vertical-mega-menu .rt_mega_menu .menu li a {
    display: block;
    padding: 10px;
    color: #333;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu {
    opacity: 0;
    visibility: hidden;
    margin-left: 30px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.vertical-mega-menu .rt_mega_menu .menu > li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    margin-left: 0;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu {
    position: absolute;
    width: 700px;
    left: 100%;
    top: -1px;
    background: white;
    border: 1px solid #ccc;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu > li {
    padding: 0 10px;
}

.vertical-mega-menu .rt_mega_menu .menu .w3c {
    width: calc(100% / 3);
    float: left;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu > li a {
    padding-left: 0;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu > li.w3c > a {
    text-transform: uppercase;
    color: #404040;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu > li.w3c > a:after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 1px;
    background: blue;
    bottom: -1px;
    left: 0;
}

@media ( max-width: 1199px ) {
    .vertical-mega-menu .rt_mega_menu {
        display: none;
    }
}

.vertical-mega-menu #mega-menu-toggle {
    float: left;
}

/*--------------------------------------------------------------
#  Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
##  Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
  /*border-bottom: 1px solid #eee;
  padding-bottom: 1.5em;*/
}

.archive .hentry {
    margin-bottom: 0;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
  font-size: 14px;
}


@media (max-width: 413px) {
    .page-content,
    .entry-content,
    .entry-summary {
      font-size: 12px;
    }
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

h1.entry-title {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    border: 1px solid #ececec;
    border-left: none;
    border-right: 0;
}

h2.entry-title {
    background: url(http://i.imgur.com/oJMuaIh.gif) left center no-repeat;
    margin: 0;
    padding-left: 35px;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #eaeaea;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-navigation .nav-links div {
    width: 50%;
    float: left;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    border-top: 1px solid #eee;
}

.post-navigation .nav-links .nav-previous {
    border-right: 1px solid #eee;
}

.post-navigation .nav-links:after {
    content: '';
    display: block;
    clear: both;
}

.pagination {
    display: block;
}

.pagination .nav-links {
    display: table;
    margin: 0 auto;
}

.page-numbers {
    padding: 5px 10px;
    margin: 0 3px;
    border: 1px solid #ddd;
}

.page-numbers.current {
    background: #b60a06;
    color: white;
    border: none;
}

.napthecao {
    display: table;
    margin: 0 auto;
}

@media (max-width: 413px) {
    .post-navigation .nav-links div {
        width: 100%;
        float: none;
        font-size: 12px;
    }
}

/*--------------------------------------------------------------
#  Widgets
--------------------------------------------------------------*/
.widget {
    margin-bottom: 2em;
}

.widget ul {
    padding-left: 0;
    list-style: none;
}

.widget-title {
    background: #ff6600 url(../images/col-title-bg-1.png) 50px center no-repeat;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 22px 22px 22px 110px;
    border-radius: 0;
    margin-top: 0;
}

.widget-title a {
    color: #353535;
}

@media (max-width: 768px) {
    .widget-title {
        background: #ff6600 url(../images/col-title-bg-1.png) 25px center no-repeat;
        font-size: 13px;
        padding: 13px 10px 13px 80px;
    }

}

/*--------------------------------------------------------------
#  Search Form Widget
--------------------------------------------------------------*/
.search-form {
    position: relative;
}

.search-field {
    border: 1px solid #ddd;
    padding: 5px;
    width: calc(100% - 36px);
    outline: none;
}

.search-submit {
    position: absolute;
    border: none;
    background: black;
    color: white;
    padding: 6px 10px;
    outline: none;
}

/*--------------------------------------------------------------
#  Widget Happiness
--------------------------------------------------------------*/
.pd_happiness_widget .widget-title {
    background: none;
    font-family: 'UTMDavida';
    font-size: 42px;
    color: #b60a06;
    text-align: center;
    padding: 15px 0;
    background-image: -webkit-linear-gradient(92deg,#f35626,#cc0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 3s infinite linear;
    -webkit-animation: jump .8s ease infinite;
    animation: jump .8s ease infinite;
}

.pd_happiness_widget table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin: 0 auto;
}

.pd_happiness_widget table th {
    padding: 9px 40px;
}

.pd_happiness_widget table tr:first-child th {
    background: #ff6600;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    text-decoration: none;
}

.pd_happiness_widget table tr:not(:first-child) th {
    border: 1px solid #828282;
    border-top: none;
    color: #0000ff;
    text-align: center;
}

@media (max-width: 768px) {
    .pd_happiness_widget .widget-title {
        font-size: 30px;
    }

    .pd_happiness_widget table th {
        padding: 5px;
    }

    .pd_post_double_category_widget .widget-title {
        font-size: 20px !important;
        line-height: 33px;
        margin: 30px 0;
    }
}

@media (max-width: 413px) {
    .pd_happiness_widget table th {
        font-size: 12px !important;
    }
}

/*--------------------------------------------------------------
#  Widget Post Double Category
--------------------------------------------------------------*/
.pd_post_double_category_widget .widget-title {
    background: none;
    font-family: 'UTMAtlasBold';
    color: #125f8c;
    font-size: 42px;
    font-weight: bold;
    border-radius: 0;
    padding: 5px 0;
    margin: 45px 0 50px 0;
    text-align: center;
    background-image: -webkit-linear-gradient(92deg,#f35626,#ad5252);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 3s infinite linear;
}

@media (max-width: 768px) {
    .pd_post_double_category_widget .widget-title {
        font-size: 25px !important;
        line-height: 33px;
        margin: 30px 0;
    }
}

.pd_post_double_category_widget .columns {
    width: 50%;
    display: table;
    float: left;
}

.block-title {
    background: #ff6600 url(../images/col-title-bg-1.png) 50px center no-repeat;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 14px 0;
    text-transform: uppercase;
    padding-left: 110px;
}

.pd__double_columns_list_posts .columns-2 .block-title {
    background: #ff6600 url(../images/col-title-bg-2.png) 50px center no-repeat;
}

@media (max-width: 768px) {
    .block-title {
        background: #ff6600 url(../images/col-title-bg-1.png) 25px center no-repeat;
        font-size: 13px;
        padding: 10px 0;
        padding-left: 80px;
    }

    .pd__double_columns_list_posts .columns-2 .block-title {
        background: #ff6600 url(../images/col-title-bg-2.png) 25px center no-repeat;
    }
}

@media (max-width: 767px) {
    .pd_post_double_category_widget .columns {
        width: 100%;
        float: none;
        display: block;
    }

    .pd__double_columns_list_posts .columns-2 .block-content {
        border-left: 1px solid #eee;
    }
}

.block-content {
    border: 1px solid #ccc;
    border-top: none;
}

.block-content .item {
    padding: 17px 110px;
    border-bottom: 1px solid #ccc;
    margin: 0 20px;
}

@media (max-width: 767px) {
    .block-content .item {
        font-size: 12px;
    }
}

.block-content a {
    color: #0000ff;
}

.block-content .item:last-child {
    border-bottom: 0;
}

.block-content .last {
    padding: 17px 0;
    text-align: center;
    text-transform: uppercase;
}

.pd__double_columns_list_posts .columns-1 .block-content .item {
    background: url( '../images/li-title-1.gif' ) 30px center no-repeat;
}

.pd__double_columns_list_posts .columns-2 .block-content {
    border-left: none;
}

@media (max-width: 767px) {
    .pd__double_columns_list_posts .columns-2 .block-content {
        border-left: 1px solid #ccc;
    }
}

.pd__double_columns_list_posts .columns-2 .block-content .item {
    background: url( '../images/li-title-2.png' ) 30px center no-repeat;
}

@media (max-width: 768px) {
    .pd__double_columns_list_posts .columns-1 .block-content .item {
        background: url( '../images/li-title-1.png' ) 0px center no-repeat;
    }

    .block-content .item {
        padding: 17px 35px;
        /*margin: 0 20px;*/
    }

    .pd__double_columns_list_posts .columns-2 .block-content .item {
        background: url( '../images/li-title-2.png' ) 0 center no-repeat;
    }
}

#box_kqxs_minhngoc {
    border: none !important;
}

#box_kqxs_minhngoc > div table tbody > tr td div {
    width: 50%;
    float: left;
    margin: 20px 0 !important;
    font-size: 14px !important;
    color: #f53530;
}

#box_kqxs_minhngoc > div table tbody > tr td div select {
    padding: 5px 10px;
    outline: none !important;
}

.box_kqxs_mini {
    margin: 0 !important;
}

#box_kqxs_minhngoc .box_kqxs_mini .title {
    background: #507ee4;
    color: white !important;
    padding: 13px 0;
    font-size: 19px !important;
}

@media (max-width: 767px) {
    #box_kqxs_minhngoc .box_kqxs_mini .title {
        font-size: 13px !important;
    }
}

.box_kqxs_mini .content table tbody > tr td {
    padding: 10px 0;
}

.box_kqxs_mini .content table tbody > tr td:first-child {
    color: #b60a06;
    font-weight: bold;
    font-size: 15px !important;
}

.box_kqxs_mini .content table tbody > tr td:last-child {
    color: #0000ff !important;
    font-weight: normal;
    font-size: 15px !important;
}

@media (max-width: 767px) {
    .box_kqxs_mini .content table tbody > tr td:first-child {
        font-size: 12px !important;
    }
    .box_kqxs_mini .content table tbody > tr td:last-child,
    .box_kqxs_mini .content table tbody > tr td {
        font-size: 12px !important;
    }
}

.box_kqxs_mini .content table tbody > tr td.giaidb {
    font-weight: bold;
}

/*--------------------------------------------------------------
#  Widget Nav Menu
--------------------------------------------------------------*/
.sidebar .widget_nav_menu .menu {
    background: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ececec;
}

@media (max-width: 767px) {
    .sidebar .widget_nav_menu {
        display: none;
    }
}

.sidebar .widget_nav_menu .menu li:not(:first-child) {
    border-top: 1px dashed #ccc;
}

.sidebar .widget_nav_menu .menu li a {
    padding: 10px 12px;
    display: block;
    font-weight: 600;
}

.sidebar .widget_nav_menu .menu li a:before {
    content: "\f105";
    float: left;
    font-family: fontawesome;
    margin-right: 10px;
}

/*--------------------------------------------------------------
#  Widgets Related Posts
--------------------------------------------------------------*/
.pd_related_posts_widget .list_item-details {
    border-bottom: 1px solid #ccc;
}

.pd_related_posts_widget .list_item--title {
    margin: 15px;
}

.pd_related_posts_widget .list_item--title a {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
}

.pd_related_posts_widget .list_item--title a:before {
    content: '\f138';
    float: left;
    font-family: fontawesome;
    padding-right: 10px;
}

@media (max-width: 413px) {
    .pd_related_posts_widget .list_item--title {
        font-size: 12px;
    }
}

/*--------------------------------------------------------------
#  Contact Form 7
--------------------------------------------------------------*/
.wpcf7-form-control:not(.wpcf7-submit) {
    width: 100%;
    outline: none;
}

.wpcf7-form-control::placeholder,
.wpcf7-form-control::-webkit-input-placeholder,
.wpcf7-form-control::-moz-placeholder,
.wpcf7-form-control:-moz-placeholder,
.wpcf7-form-control:-ms-input-placeholder {
    color: #fff;
}

/*--------------------------------------------------------------
#  Footer
--------------------------------------------------------------*/
.site-footer {
    background: #507ee4;
}

.site-footer .widget {
    margin-bottom: 0;
}

.site-footer .widget-title {
    background: none;
    text-align: left;
    text-transform: none;
    padding-left: 0;
    padding-bottom: 0;
    margin: 10px 0 10px;
    text-transform: uppercase;
}

/* Top Footer */
.top-footer {
    background: #507ee4;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top-footer .widget_nav_menu .menu {
    margin-bottom: 0;
    display: table;
    margin: 0 auto;
}

.top-footer .widget_nav_menu .menu:after {
    content: '';
    display: block;
    clear: both;
}

.top-footer .widget_nav_menu .menu li {
  float: left;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.top-footer .widget_nav_menu .menu li a {
  display: block;
  padding: 8px 15px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.top-footer .widget_nav_menu .menu li.current-menu-item a,
.top-footer .widget_nav_menu .menu li a:hover {
    color: #fffd79;
}

/* Columns Footer */
.columns-footer .widget_nav_menu .menu li a {
    display: block;
    color: #fff;
    font-size: 13px;
}

.columns-footer .widget_nav_menu .menu li a:before {
    content: "\f0da";
    font-family: fontawesome;
    padding-right: 10px;
    color: white;
}

/*--------------------------------------------------------------
##  Bottom Footer
--------------------------------------------------------------*/
.bottom-footer {
    background: white;
}

.footer-table tbody > tr th:first-child {
    width: 10%;
    padding: 15px 0;
    text-align: center;
}

.footer-table th {
    border: 1px solid #efefef;
    text-align: center;
}

.footer-table {
    margin: 0 -14px;
    margin-top: 10px;
}

.footer-table tbody > tr:first-child th {
    background: #507ee4;
    color: #fff;
    border: none;
}

@media (max-width: 768px) {
    .footer-table th {
        font-size: 12px;
    }

    .footer-table tbody > tr th:first-child {
        padding: 10px 0;
    }
}

@media (max-width: 413px) {
    .footer-table th {
        font-size: 9px;
    }
}

/*--------------------------------------------------------------
##  Copyright
--------------------------------------------------------------*/
.copyright {
    background: #507ee4;
    color: white;
    padding: 15px;
    position: relative;
}

.copyright a {
    color: white;
}

.copyright .container {
    position: relative;
    max-width: 100%;
}

.copyright-left {
    color: white;
}

@media (min-width: 414px) {
    .copyright {
        padding: 7px 10px;
    }

    .copyright-left {
        float: left;
        text-align: left;
    }

    .copyright-right {
        position: absolute;
        right: 20px;
        bottom: 25px;
    }
}

.copyright-right a {
    color: white;
}

@media (max-width: 413px) {
    .copyright-left {
        margin-bottom: 10px;
    }

    .top-footer,
    .copyright {
        font-size: 12px;
    }
}

/*--------------------------------------------------------------
##  Mobile Menu
--------------------------------------------------------------*/
.mobile-menu-container,
.vertical-mega-mobile-menu {
    background: black;
    position: fixed;
    width: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-250px);
    -transform: translate(-250px);
    -o-transform: translate(-250px);
    transform: translate(-250px);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    z-index: 999999;
}

.vertical-mega-mobile-menu {
    left: auto;
    right: 0;
     -webkit-transform: translate(250px);
    -transform: translate(250px);
    -o-transform: translate(250px);
    transform: translate(250px);
}

.close-menu {
    background: #dd1f27;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.vertical-mega-mobile-menu ul,
.mobile-menu-container ul.mobile-menu {
    padding-left: 0;
    list-style: none;
}

.vertical-mega-mobile-menu ul li,
.mobile-menu-container ul.mobile-menu li {
    position: relative;
}

.vertical-mega-mobile-menu ul li a,
.mobile-menu-container ul.mobile-menu li a {
    border-bottom: 1px solid #212121;
}

.vertical-mega-mobile-menu ul li a,
.mobile-menu-container ul.mobile-menu li a {
    color: white;
    display: block;
    padding: 10px;
}

.vertical-mega-mobile-menu ul li ul.sub-menu,
.mobile-menu-container ul.mobile-menu li ul.sub-menu {
    display: none;
    padding-left: 0;
    list-style: none;
}

.vertical-mega-mobile-menu ul li.active > ul.sub-menu,
.mobile-menu-container ul.mobile-menu li.active > ul.sub-menu {
    background: #3a3a3a;
    display: block;
}

.vertical-mega-mobile-menu-active .vertical-mega-mobile-menu,
.mobile-menu-active .mobile-menu-container {
    -webkit-transform: translate(0);
    -o-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}

.vertical-mega-mobile-menu-active .overlay,
.mobile-menu-active .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
}

.menu-item-has-children > i {
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  background: #2d2d2d;
  cursor: pointer;
}

.vertical-mega-mobile-menu .menu-item-has-children > i.fa:before,
.mobile-menu-container .menu-item-has-children > i.fa:before {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #a9a9a9;
    content: '';
}

.vertical-mega-mobile-menu .menu-item-has-children.active > i.fa:before,
.mobile-menu-container .menu-item-has-children.active > i.fa:before {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
}

.menu-item-has-children > i:before {
  position: absolute;
  top: 20px;
  left: 15px;
}

/*--------------------------------------------------------------
##  Backtop
--------------------------------------------------------------*/
#backtotop {
    background: black;
    position: fixed;
    width: 44px;
    height: 44px;
    bottom: 30px;
    right: 20px;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    color: white;
    text-align: center;
    line-height: 44px;
    font-size: 22px;
}

#backtotop a {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#backtotop span {
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 60px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../images/backtop.png) center no-repeat, #333;
    opacity: .5;
    -webkit-transition: opacity .3s 0s,visibility 0s .3s;
    -moz-transition: opacity .3s 0s,visibility 0s .3s;
    transition: opacity .3s 0s,visibility 0s .3s;
    z-index: 10;
}

#backtotop span:hover {
    opacity: 1;
}

/*--------------------------------------------------------------
#  Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
#  Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
#  Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}

/*--------------------------------------------------------------
#  Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
#  Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/*--------------------------------------------------------------
#  Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/*--------------------------------------------------------------
#  Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}
